body {
    margin: 0;
    height: auto; 
    background-image: url('Soccer ball flew into the goal_ _ Premium Photo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgba(0,0,0,0.6); 
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-links li a:hover {
    color: blue; 
}

p {
    font-size: 32px;
    font-weight: bold;
    text-align:center;
    margin-top: 150px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}



.images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 2rem;
}

.player-name {
    text-align: center;
}

.player-name img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s; 
    cursor: pointer;
    display: inline-block; /* add this */
}


.player-name img:hover {
    transform: scale(1.05);  /* zoom effect on hover */
}

.player-name h3 {
    margin-top: 10px;
    color: black;
}


