body {
    margin: 0;
    height: 100vh; /* Full viewport height */
    background-image: url('Soccer ball flew into the goal_ _ Premium Photo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgba(0,0,0,0.6); 
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-links li a:hover {
    color: blue; 
}

p {
    font-size: 32px;
    font-weight: bold;
    text-align:center;
    margin-top: 150px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Makes text pop */
}
.player{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;

}
.player img {
    width: 250px;       /* set the same width for all images */
    height: 400px;      /* set the same height for all images */
    object-fit: cover;  /* ensures image fills the box without stretching */
    border-radius: 10px; /* optional: rounded corners */
    margin: 20px;        /* optional: space between images */
}
